<h2>Sign up</h2>
<div class="row">
    <div class="col-sm-4 well">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div> <%= f.input :first_name %> </div>

       <div> <%= f.input :last_name %> </div>

        <div><%= f.input :email %></div>

        <div><%= f.input :phone_number %></div>
        <div><%= f.input :twitter_handle %></div>
        <div><%= f.input :preferred_contact, label: 'Preferred way to contact me:(txt, call, email)' %></div>

        <div><%= f.input :password %></div>

        <div><%= f.input :password_confirmation %></div>

        <div><%= f.submit "Sign up", html: {class: "btn btn-success"} %></div>
      <% end %>
         <%= render "devise/shared/links" %>
     </div>
     <div class="col-sm-8">
      <h1> Dont let this happen to you</h1>
      <h2 style="centered"> Sign up for SatCom </h2>

<div style="max-width: 500px;" id="_giphy_KuV5tEhlAp23C"></div>
<script>var _giphy = _giphy || []; _giphy.push({id: 'KuV5tEhlAp23C',w: 500, h: 281});var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/embed.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);</script>
     </div>
</div>
